#root {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

button {
  border: none;
  outline: none;
  font-family: inherit;
  background: none;
  padding: 0;
  cursor: pointer;
  border-radius: 0;
  color: white;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: none;
}

.app-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.buttons-container {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.buttons-container {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.button {
  padding: 8px 32px;
  border-top-left-radius: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 0;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  color: white;
  font-size: 18px;
  text-decoration: none;

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
  }

  &:visited {
    color: white;
  }

  &:link {
    color: white;
  }
}

.instructions {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 10;
  color: white;
  font-size: 18px;
}

.tiles-container {
  width: 100%;
  height: 100%;
  background-image: url('/assets/images/buddha-02.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
